* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --font-family: Arial, Helvetica, sans-serif;
    --secondary-color: #FCE9F1;
    --text-color: #080202;
    --button-color: #73BBC9;
    --button-hover: #14889f;
    --border-radius: 16px;
    --section-color: #F1D4E5;
} 

body {
    margin: 0 clamp(1rem, 4vw, 4rem);
    font-family: var(--font-family);
    background-color: var(--secondary-color);
    color: var(--text-color);
}

#wrapper-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 80rem;
    width: 100%;
    min-height: 100vh;
}

h1 {
    font-size: 3rem;
    text-align: center;
    word-wrap: break-word;
    line-height: 3rem;
    padding: 3rem;
}

#main{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#displayName {
    color: rgb(60, 1, 1); 
    font-size: 1.5rem;
}

/* #user-choice{
    display: none;
}

#flashcard{
    display: none;
} */

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.5rem;
}

label {
    font-size: 1.5rem;
    padding: 2rem;
}

button {
    background-color: var(--button-color);
    color: var(--text-color);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
    width: 300px;
}

button:hover {
    background-color: var(--button-hover);
    color: white;
}

select {
    width: 300px;
    font-size: 1rem;
    padding: 1rem;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}


#card {
    display: flex;
    font-size: 3rem;
    margin: 4rem;
    cursor: pointer;
    user-select: none;
    border: 2px solid #333;
    border-radius: 1rem;
    min-width: 200px;
    max-width: 200px;
    min-height: 200px;
    max-height: 200px;
    transition: background-color 0.3s ease;
    word-wrap: break-word;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#card.revealed {
    background-color: var(--section-color);
    color: var(--text-color);
    font-size: 3rem;
}

